<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://release-assets.githubusercontent.com/github-production-release-asset/852142195/956ff9b3-6133-4b69-8f84-0386f1c01145?sp=r&sv=2018-11-09&sr=b&spr=https&se=2025-12-07T06%3A57%3A30Z&rscd=attachment%3B+filename%3DAovCheat.ipa&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2025-12-07T05%3A57%3A29Z&ske=2025-12-07T06%3A57%3A30Z&sks=b&skv=2018-11-09&sig=DjlKaQe7UjGWdhgfAX3XqtJCX5fnZIWM712e3bklURQ%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2NTA5MTE4NSwibmJmIjoxNzY1MDg3NTg1LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.0koF7pgsW8iUNTENCLh3pjJ7AVGb1VGHLcbpi0lZ2Xw&response-content-disposition=attachment%3B%20filename%3DAovCheat.ipa&response-content-type=application%2Foctet-stream</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>https://loadly.io/image/view/app_icons/2031c09c4e5d4aa355f2e231eea93f96/120</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>https://loadly.io/image/view/app_icons/2031c09c4e5d4aa355f2e231eea93f96/120</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>app.vthangios.vn</string>
                <key>bundle-version</key>
                <string>1.60.11515852</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>AovCheat</string>
                <key>title</key>
                <string>AovCheat</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
