<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/esigncert/khoindvn/releases/download/iPA/AovMod.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>https://loadly.io/image/view/app_icons/5b5292bebc34c7f75d8af0620fa28344/120</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>https://loadly.io/image/view/app_icons/5b5292bebc34c7f75d8af0620fa28344/120</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.game.garena.lqmb</string>
                <key>bundle-version</key>
                <string>1.60.11505108</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>AovMod</string>
                <key>title</key>
                <string>AovMod</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
