<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://debug.appleapp.world/3Cm103mi56r4F18e.ipa?Policy=eyJTdGF0ZW1lbnQiOiBbeyJSZXNvdXJjZSI6Imh0dHBzOi8vZGVidWcuYXBwbGVhcHAud29ybGQvM0NtMTAzbWk1NnI0RjE4ZS5pcGEiLCJDb25kaXRpb24iOnsiRGF0ZUxlc3NUaGFuIjp7IkFXUzpFcG9jaFRpbWUiOjE3NjU3MDEzODB9fX1dfQ__&Signature=SQ1UBoEx54T~S425qmJsHLd6f~VewtOcPBxZ2eTKaX0mKGuNEVrg9hk7do98ATUMWnzaihMAejzL9tf9LRl3IqP8X6P4UDJuDPx5hOIDlJM-5UtrBqKjeJCZ4IK7Ph1KJKeOCICLBAS~A9lxKk0qa9QoYtqQVWhxuMPdB7ErB84f-ULlradbtep-lZbUrfM-VZ-0213nWkR9r8kEWz3XR5PP5U115Kjzyl-C6KRTqikUyWXr0zhFp3xe7tJXOlPHngrHQmbd87VjPbuL3gBMsVmNtUQ5z5E1ATwN9lCSsrwddJCLynEo~Y7c-ltUI7gB2deO1UmUfK-3BHBpp6dY3g__&Key-Pair-Id=K8GKEUQVJFI0E</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.krnlvn.new</string>
				<key>bundle-version</key>
				<string>2.700.937</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>SkibX VN</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
