<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://release-assets.githubusercontent.com/github-production-release-asset/852142195/978aff27-b7da-4aa4-8ff8-cd10a89a980f?sp=r&sv=2018-11-09&sr=b&spr=https&se=2025-12-07T06%3A45%3A19Z&rscd=attachment%3B+filename%3DSkibXVN.ipa&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2025-12-07T05%3A44%3A42Z&ske=2025-12-07T06%3A45%3A19Z&sks=b&skv=2018-11-09&sig=gevN%2FEVB7hng3qo0AOa51bBA2SwDq%2FSeJjDLDsi7caU%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2NTA5MTM4MCwibmJmIjoxNzY1MDg3NzgwLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.xBm6wL4Ez8QqTbZpYiAGcajYDTUfgcXj7Hw2te9u2nI&response-content-disposition=attachment%3B%20filename%3DSkibXVN.ipa&response-content-type=application%2Foctet-stream</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>https://loadly.io/image/view/app_icons/3a45129877e8622af525bc862f1f6f5e/120</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>https://loadly.io/image/view/app_icons/3a45129877e8622af525bc862f1f6f5e/120</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.krnlvn.new</string>
                <key>bundle-version</key>
                <string>2.700.937</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>Skibx VN</string>
                <key>title</key>
                <string>Skibx VN</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
