<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/esigncert/ksign.github.io/releases/download/Lqm/AOV.MOD.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://signapp.dev/temp/S0dFYjJzMXF6OGJERFFTZEszZG9ZQT09/icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>249XF4RZ9U.com.hdfcbank.smarthubmobile</string>
				<key>bundle-version</key>
				<string>1.58.11379483</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>AOV MOD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
