<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://debug.appleapp.world/W5211AqN3n2m3GdA.ipa?Policy=eyJTdGF0ZW1lbnQiOiBbeyJSZXNvdXJjZSI6Imh0dHBzOi8vZGVidWcuYXBwbGVhcHAud29ybGQvVzUyMTFBcU4zbjJtM0dkQS5pcGEiLCJDb25kaXRpb24iOnsiRGF0ZUxlc3NUaGFuIjp7IkFXUzpFcG9jaFRpbWUiOjE3NjM1MzIzMTB9fX1dfQ__&amp;Signature=JnIDxugLK4s2cZj4FmE9VxVj2Zggz84jwrE3cLR0VZHQZK~8U9iuJa3NJ-014o8PkD8vTjThE6FPfBUiM~5DdFejGOm53U3eqE3mg~gmPr4nrRiyb9c9HEbW8uvu3J7L64WsoUFfj16aTutuC9r2h3p-GoIjW9cmutjnh57CWIoqq5iZiZDCijVUCB0n8P7x0B~AE3rdK~ENakrr0~nh41EVN95fbsOnMTyLIrmJXnRHXjAU9VYwt2j4JAOvjC9WAdQADN47Zo6koWbzcQbfhzwWDzhD~~j5GD5YTushn8hHJpm~yhEjb6L2neSOWcC~tnVrNFtkXxmn7RtszN-qyA__&amp;Key-Pair-Id=K8GKEUQVJFI0E</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.marisa0704.phorestaurant</string>
				<key>bundle-version</key>
				<string>1.0.8</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Tiệm Phở Của Anh Hai</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
