<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://debug.appleapp.world/46FNTIFSXU854VP1.ipa?Policy=eyJTdGF0ZW1lbnQiOiBbeyJSZXNvdXJjZSI6Imh0dHBzOi8vZGVidWcuYXBwbGVhcHAud29ybGQvNDZGTlRJRlNYVTg1NFZQMS5pcGEiLCJDb25kaXRpb24iOnsiRGF0ZUxlc3NUaGFuIjp7IkFXUzpFcG9jaFRpbWUiOjE3NjM3MDI3ODB9fX1dfQ__&amp;Signature=CtYNcdf7IatVZSvn67dwDGRQweohz18755G5IhWrSgwyIjPd5ihYzsAQ7Q7gNnZxUVZ2Hm1SatfWMoCISvYSVKHCdX8jGwRyZ3U9Psjoq4UpdZNNMc2GpqoDafNTbNBZsRmE2yLSu3tnc06RlQEklrkp3jnh2l3ONvVzpw2MD~-Oo~T1R9nADYrG59TYMHJw8~ZiRXQ0IIU9Vx6lrwgBT~DOhJ0fjIkQc59yb0zD8LS01s8UH7MbQC6QXnfGkcQz1Comgx~1nIhEr1rckoOi8hVRzBFlP~mYqQgSaEx5lTqrXL9IbW9IxdHBmuAuM1pyK2BwDRPYXU7Q3qPmYbi0Xg__&amp;Key-Pair-Id=K8GKEUQVJFI0E</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.marisa0704.phorestaurant</string>
				<key>bundle-version</key>
				<string>1.0.8</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Tiệm Phở Của Anh Hai</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
